<Project>
  <PropertyGroup>
    <!-- Configure GameInstallPath to be the directory path where the game is installed on your local machine. -->
    <GameInstallPath>N:\Games\SteamLibrary\steamapps\common\Mount &amp; Blade II Bannerlord</GameInstallPath>
  </PropertyGroup>
</Project>
